@font-face {
  font-family: "roboto";
  src: url(../../fonts/rubik/Rubik-Light.ttf);
  font-style: light;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1 {
  margin-left: 7px;
  margin-right: 23px;
  color: #eaeaea;
  font-family: "roboto";
  font-size: 18px;
}

svg {
  fill: #42a29e;
  transition: fill 0.2s ease;
}

.container:hover > svg {
  fill: #66fcf1;
}

.container:hover > h1 {
  color: white;
}
