.bell {
  margin-left: auto;
  padding-left: 65px;
}

.profile {
  padding-left: 20px;
}
/* 
.active {
  background-color: red;
} */
/* .nav a:hover {
  border-bottom: 3px solid #66fcf1;
} */
