/* header {
  background-color: #1f2833;
  display: flex;
  align-items: center;
  padding-left: 161px;
  padding-right: 161px;
} */

/* nav {
  padding-right: 425px;
  padding-left: 59px;
  display: flex;
} */
a {
  text-decoration: none;
}

a:hover {
  border-bottom: 3px solid #42a29e;
}
.bell {
  margin-left: auto;
  padding-left: 65px;
}

.profile {
  padding-left: 20px;
}
